.homenavbar-name{
    font-size:300%;
    margin:20px;
    margin-bottom: min(150px, max(50px, 30vh));
    text-align: center;
}

#homenavbar-name-container{
    margin-top:0px;
    padding-top:0px;
    text-align:left;
}

.homenavbar-option-text{
    font-size:200%;
    text-decoration: none;
    color:#FC5185;
}

.homenavbar-option{
    padding-right:20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 30px;
    display: inline-block;
    position:relative;
}

.homenavbar-option:not(:last-child){
    border-right: solid lightblue 1px;
}

.homenavbar-option-border{
    background-color: #EFEFEF;
    height:3px;
    width: 0px;
    transition: width .3s;
    margin-top:3px;
}

.homenavbar-option:hover .homenavbar-option-border{
    width: 100%;    
}